  <body>

    <div class="jumbotron col-7">
      <h1 class="display-4">Welcome to Podcast Collection!</h1>

      <a class="btn btn-dark btn-lg btnLeft" href="/" role="button">Home</a>
      
      <p class="mt-5 mb-3 text-muted">Copyright &copy; 2020 Jenny, Andre, Nathan, Cohen. All Rights Reserved. </p>
    </div>

  </body>