<body>

  <div class="jumbotron col-7">
    <h1 class="display-4">Welcome to Your Podcast Collections! <a class="btn btn-dark btn-lg btnLeft" href="/"
        role="button">Home</a></h1>

    <div class="card-group" id="yourCollections">

      {{#each results}}
      <div class="card">
        <div class="card-header">{{collection_name}}</div>
        <div class="card-body">
          <p class="card-text">{{description}}</p>
          <button type="submit" data-collectionId="{{id}}" class="deleteCollection micButton btn btn-danger btn-md fa fa-trash"> Delete</button>
          <button type="submit" data-collectionId="{{id}}" class="micButton btn btn-dark btn-md fa fa-microphone"> See Collection</button>
        </div>
        {{/each}}

      </div>


      <p class="mt-5 mb-3 text-muted">Copyright &copy; 2020 Jenny, Andre, Nathan, Cohen. All Rights Reserved. </p>
    </div>

</body>