<body>
    <div class="jumbotron col-7">
      <h1 class="display-4">Welcome to Podcast Collection!</h1>
      <p class="lead">Would you like to search for Podcasts and create your collection, or would you rather view other's collections?</p>
      <hr class="my-4">
      <p>Would you like to search for Podcasts and create your collection, or would you rather view other's collections?</p>
      <br></br>
      <a class="btn btn-dark btn-lg btnLeft" href="search" role="button">Search Podcasts</a>
      <a class="btn btn-dark btn-lg btnRight" href="collections" role="button">View Collections</a>
      <p class="mt-5 mb-3 text-muted">Copyright &copy; 2020 Jenny, Andre, Nathan, Cohen. All Rights Reserved. </p>
    </div>
</body>