<nav class ="navbar navbar-light bg-light text-center">
<h1 align="center">Podcast Collections!</h1>
</nav>

<footer class="footer">
    <div class="row text-center">
        <p class="col-sm-12" id="copyright"> 
            Copyright &copy; 2020 Jenny, Andre, Nathan, Cohen. All Rights Reserved.
        </p>
    </div>
</footer>