.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(223, 225, 231) !important;
}

.footer {
    background-color: rgb(223, 225, 231);
    font-weight: 500;
    height: 60px;
    position: fixed;
    bottom: 0;
    width:100%;
}

.container {
    padding-bottom: 80px;
}

#copyright {
    position: relative;
    top: 15px;
}