html,

body {
  background-image: url("../img/background.jpg");
  min-width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#searchBox {
  width: 95%;
}

.btn {
  float: Right;
}

.nameForm {
  float: right;
  border: thick blue;
}

.dropdown {
  float: left;
}

.jumbotron {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: rgba(255, 255, 255, .8) !important;
}

.jumbotron h1,p {
  text-align: center;
}

/* .searchJumbo {
  height: 100%;
} */

.col-sm {
  border: green thick;
}

.btnLeft {
float: left;
}

.btnRight {
  float: right;

}

.micButton {
  float: right;
  border: none;
  background-color: rgba(255, 255, 255, 0);
 }

#sResults {
  border: thin black;
}

.appBoxes {
  border: thin black solid;
}

#imgResult {
  max-width: 45%;
}

.input {

float: left;
}

.sendCollection, .deleteCollection {
  margin-bottom: 15px;
}

.sendCollection {
  margin-left: 5px;
}

.nameInput, .emailInput {
  margin-top: 4px;
}

.collectionHomeBtn {
  /* margin-top: 18px; */
  margin-right: 3px;
} 

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}